.posts {
    background-color: #dadada;
    padding: 10px;
}

.posts h2 {
    padding: 0;
    margin: 0;
}

.form {
    padding: 10px 0;
    display: grid;
    grid-template-areas: "textarea" "input";
    grid-row-gap: 10px;
    grid-template-rows: max-content;

}

.form textarea {
    grid-area: textarea;
    display: block;
    resize: none;
    width: 100%;
    height: 60px;
}

.form input[type="button"] {
    grid-area: input;
    display: inline-block;
    width: 100px;
    height: 40px;
    justify-self: end;
}