* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
}

.app-wrapper {
    display: grid;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    width: 960px;
    margin: 0 auto;
}

.app-wrapper-content {
    grid-area: c;
    background-color: antiquewhite;
}

.hl {
    outline: 1px solid #ddd;
}
